/* Feuille de style pour le projet 2 reservia */

html {
  text-size-adjust: 100%; /* Determine ajustement taille police par rapport à sa taille initiale*/
  font-size: 100%; /*Tous mes éléments utilisant l’unité de mesure REM, auront une taille relative à cette taille (100% dans le cas présent)*/
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  width: 98%;
  z-index: 10; /*precise l'empilement de l'element sur l'axe vertical*/
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 2.5%;
}
#logoreservia {
  margin-left: 4%;
}
#haut {
 
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.border-topi {
  border-top: 3px solid;
  color: #0065fc;
}
.border-top:hover {
  border-top: 3px solid;
  color: #0065fc;
}
.border-top[data-active="true"] {
  border-top-color: #0065fc;
}
header nav ul li {
  list-style-type: none; /*supprime les petits points*/
  display: inline-block;
}
header nav ul li a {
  color: #0065fc;
  text-decoration: none; /*supprime les traits en dessous*/
  padding: 50px;
}
#black {
  color: black;
}

/*Premiere section*/

.main {
  margin: auto;
  display: block; /*a verifier*/ /*valeur par défaut, elements les un en dessous de autres, oblige à revenir à la ligne*/
  justify-content: flex-start; /*Indique la façon dt l'espace doit etre réparti entre et autour des élements selon l'axe principal*/
  width: 90%;
}
.searchheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.centre {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 4em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.searchForm {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}

/* logo gps*/

.fas.fa-map-marker-alt {
  background-color: #f2f2f2;
  padding: 1rem 1.25rem;
  border-radius: 5% 10%;
  text-align: center;
}
.searchForm {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
.input-search {
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.25rem; /*Deplace Marseille au centre*/
  box-sizing: border-box; /*Deplace rechercher vers la gauche*/
  width: 14rem; /*longueur border radius*/
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}
.input-search::placeholder {
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  color: #00000069;
}
.button-search {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.25rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}

/*search-filters*/

.searchfilters {
  display: flex;
  align-items: center; /*Aligne tout*/
  max-width: 100%;
  margin-top: 2%; /*espace avec Marseille*/
}
.filtres {
  margin-top: inherit; /*Heritage qui provient toujours de l'element parent meme si cet element n'est pas le bloc englobant*/
}
.fasfa {
  display: flex;
  align-items: center;
}
.fas.fa-money-bill-wave,                   
.fas.fa-child,
.fas.fa-heart,
.fas.fa-dog {
  display: flex;
  align-items: center;
  margin-left: 0.01%; /*Position par rapport au mot filtres*/
  background-color: #deebff;
  color: blue;
  cursor: pointer;
  justify-content: center; /*centre logo money dans le cercle*/
  position: relative;
  left: 36px; /*Permet d'inserer le logo dans economique*/
  width: 54px; /*De width à border radius pour faire un cercle*/
  height: 50px;
  border-radius: 28px;
}
.eco,
.familial,
.romantique,
.animaux {
  display: inline-flex; /*Déplace le mot economique au centre */
  max-width: 100%;
  cursor: pointer;
  align-items: center;
  border-radius: 30px;
  border-bottom: #f2f2f2 0.2rem solid;
  border-top: #f2f2f2 0.2rem solid;
  border-right: #f2f2f2 0.2rem solid;
  padding-left: 2.5rem; /*marge à l'interieur des border-radius*/
  height: 45px;
  justify-content: center; /*centre le mot economique dans le border radius*/
  font-size: 1.1rem; /*epaisseur caractere*/
  font-weight: bold; /*graisse utilisée*/
  font-family: "Raleway", "Sans serif";
}
.eco {
  width: 7rem; /*longueur border-radius*/
  }
.familial {
  width: 5.5rem;
  }
.romantique {
  width: 7rem;
  }
.animaux {
  width: 10rem;
}
.eco:hover,
.familial:hover,
.romantique:hover,
.animaux:hover {
  background-color: #deebff;
}

/*info*/

.info-clients {
  margin-top: 2%; /*Margin avec search-filters*/
}
.fas.fa-info {
  color: #0065fc;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: #f2f2f2 0.3rem solid;
  border-top: #f2f2f2 0.3rem solid;
  border-left: #f2f2f2 0.3rem solid;
  height: 2rem;
  width: 2rem;
  min-height: 2rem; /*De min-height à min-width fait un cercle*/
  min-width: 2rem;
  border: solid 1px #d9d9d9; /*Contour du cercle*/
  border-radius: 100%; /*Pour faire le cercle*/
  margin: 0;
  height: 2rem;
}
.nombre {
  display: inline-flex;
  margin-left: 0.5%;
}

/*Deuxiéme section*/
/* Trois premiéres images horizontales*/

#containerhebergement {
  display: flex;
  justify-content: space-between; 
}
#hosting1 {
  width: 66%;
}
#location {
  background-color: #f2f2f2; /* Arriére-plan gris*/
  border-bottom: 2px;
  border-radius: 16px;
  height: 670px;
}
.marseille-hosting {
  margin: 0;
  padding: 20px;
}
.row-location {
  display: flex;
  flex-direction: row; /*Defini automatiquement, se mettent a coté horizontalement*/
  margin: auto; /*verifier*/
  align-items: flex-start; /*positionne en haut du container*/
  justify-content: space-evenly; /*Espacement identique*/
}
.hosting {
  width: 29%;
  margin: 1%;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  padding: 1%;
}
.hosting-img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  /*Dimension image, width et height, fonctionne que ds cet order-ci*/
  height: 100px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
}
.tarif1 {
  line-height: 0.01;
}
.fas.fas.fa-star {
  color: #0065fc;
}
.fas.fas.fa-star[data-active="false"] {
  color: #d7dbdf;
}

/*Toujours deuxiéme section: trois derniéres images horizontales*/

.row-location-bis {
  display: flex;
  flex-direction: row; /*Defini automatiquement, se mettent a coté horizontalement*/
  align-items: center;
  justify-content: space-evenly; /*Espacement identique*/
}
.hosting2 {
  width: 29%;
  margin: 1%;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  padding: 1%;
}
.ancre {
  color: black;
  text-decoration: none;
  display: block;
}
.hosting2-img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  height: 100px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
}
.more {
  font-size: 1.2em;
  margin: auto;
  padding: 20px;
}

/*ASIDE*/

.populaire {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#cadre-grey {
  background-color: #f2f2f2; /* Arriére-plan gris*/
  border: 20px;
  border-bottom: 2px;
  border-radius: 16px;
  width: 33%;
  height: 670px;
}
.most-popular {
  display: flex;
  align-items: center;
  padding-left: 5%;
}
.fas.fa-chart-line {
  margin-left: 42%;
}
.hosting-aside {
  width: 90%;
  margin: 1%;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  padding: 1%;
  display: flex;
  line-height: 1;
}
.ancrebis1 {
  color: black;
  text-decoration: none;
  width: 50%;
}
.img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  height: 140px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 90%;
}
.tarif {
  margin-top: 0.1%;
}

/*Troisiéme et derniére section, activites*/


.activity {
  display: flex;
  justify-content: space-between; /*Espacement identique*/
  padding-bottom: 3px;
  width: 100%;
  align-items: flex-start;
  }
  /*port idem calanques*/
  .bloc1 {
    width: 25%;
  }
.port {
  width: 90%;
  margin: 20px 0px 20px 10px;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  padding-bottom: 1%;
}
 .vieux-port-img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  height: 470px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
}
/*Images fort et iles l'une en dessous de l'autre*/
.bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  }
.fort {
  width: 92%;
  margin: 4%;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  box-shadow: 2px 2px 5px #aaaaaa;                      /*ombres*/
  height: 100%;
  }
 .fort-img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  /*Dimension image, width et height, fonctionne que ds cet order-ci*/
  height: 200px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
  }
.iles {
  width: 92%;
  margin: 4%;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
 }
 .iles-du-Frioul-img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  /*Dimension image, width et height, fonctionne que ds cet order-ci*/
  height: 165px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
}
 .calanques {
  width: 90%;
  margin: 20px 0px 20px 10px;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  padding-bottom: 1%;
 }
 .calanques-img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  /*Dimension image, width et height, fonctionne que ds cet order-ci*/
  height: 470px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
  }

/*Images notre dame et parc lonchamps l'une en dessous de l'autre*/
 .notre {
  width: 90%;
  margin: 20px 0px 20px 10px;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
 }
 .notre-dame-img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  height: 150px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
}
 .long {
  width: 90%;
  margin: 20px 0px 20px 10px;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
 }
 .longchamp-img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  height: 215px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
  }
 .title {
 padding-left: 5%;
}


/*fOOTER*/

.footer {
  display: flex;
  margin-top: 4%;
  background-color: #F2F2F2;
}
.contenu-footer {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.bloc-footer {
  display: block;
  height: fit-content;   /*la + gde des valeurs entre la hauteur minimale intrinseque preferee et la hauteur dispo*/
  width: 26%;
}
.ancrebis2 {
  color: black;
  text-decoration: none;
  line-height: 1.9;
  display: block;
}
.ancrebis2:hover {
  text-decoration: underline;
}

/*MEDIA QUERIES*/

@media all and (max-width: 1024px) {
  #logoreservia {
    width: auto;
    margin-left: 2%;
    margin-top: 0%;
  }
 header {
   display: flex;
   flex-wrap: wrap;
 }
 #haut {
  position: sticky;
 }
  nav {
    width: auto;
    text-align: left;
  }
  h1 {
  margin-top: 20%;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    padding-left: 4px;
  }
  nav a {
    font-size: 1.1em;
  }

  .searchfilters {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .row-location {
    flex-direction: column;
    height: auto;
  }
}
