/* Feuille de style pour le projet 2 reservia */

html {
  text-size-adjust: 100%; /* Determine ajustement taille police par rapport à sa taille initiale*/
  font-size: 100%; /*Tous mes éléments utilisant l’unité de mesure REM, auront une taille relative à cette taille (100% dans le cas présent)*/
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  top: 0;
  width: 98%;
  z-index: 10;  /*precise l'empilement de l'element sur l'axe vertical*/
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 3%;
  }
.logoreservia {
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.border-topi {
  border-top: 3px solid;
  color: #0065fc;
}
.border-top:hover {
  border-top: 3px solid;
  color: #0065fc;
}
.border-top[data-active="true"] {
  border-top-color: #0065fc;
}
header nav ul li {
  list-style-type: none; /*supprime les petits points*/
  display: inline-block;
}
header nav ul li a {
  color: #0065fc;
  text-decoration: none; /*supprime les traits en dessous*/
  padding: 50px;
}
#black {
  color: black;
}

/*Premiere section*/

.main {
  margin: auto;
  display: block; /*a verifier*/ /*valeur par défaut, elements les un en dessous de autres, oblige à revenir à la ligne*/
  justify-content: flex-start; /*Indique la façon dt l'espace doit etre réparti entre et autour des élements selon l'axe principal*/
  width: 90%;
}
.searchheader {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  height: 35px; /* Hauteur pour que les éléments aient la place de bouger */
}
.centre {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 4em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  }
.searchForm {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}

/* logo gps*/

.fas.fa-map-marker-alt {
  background-color: #f2f2f2;
  padding: 1rem 1.25rem;
  border-radius: 5% 10%;
  text-align: center;
}
.searchForm {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
.input-search {
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.25rem; /*Deplace Marseille au centre*/
  box-sizing: border-box; /*Deplace rechercher vers la gauche*/
  width: 14rem; /*longueur border radius*/
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}
.input-search::placeholder {
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  color: #00000069;
}
.button-search {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.25rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}

/*search-filters*/

.searchfilters {
  display: flex;
  align-items: center; /*Aligne tout*/
  max-width: 100%;
  margin-top: 2%; /*espace avec Marseille*/
}
.filtres {
  margin-top: inherit; /*Heritage qui provient toujours de l'element parent meme si cet element n'est pas le bloc englobant*/
}
.money,
.child,
.famililal,
.romantico,
.dogi {
  display: flex;
  align-items: center;
  margin-left: -1%;
}
.fas.fa-money-bill-wave,            /*Ne fonctionne pas sans le deuxiéme petit point*/               
.fas.fa-child,
.fas.fa-heart,
.fas.fa-dog {
  display: flex;
  align-items: center;
  margin-left: 0.01%; /*Position par rapport au mot filtres*/
  background-color: #deebff;
  color: blue;
  cursor: pointer;
  justify-content: center; /*centre logo money dans le cercle*/
  position: relative;
  left: 36px; /*Permet d'inserer le logo dans economique*/
  width: 54px; /*De width à border radius pour faire un cercle*/
  height: 50px;
  border-radius: 28px;
}
.eco,
.familial,
.romantique,
.animaux {
  display: inline-flex; /*Déplace le mot economique au centre */
  max-width: 100%;
  cursor: pointer;
  align-items: center;
  border-radius: 30px;
  border-bottom: #f2f2f2 0.2rem solid;
  border-top: #f2f2f2 0.2rem solid;
  border-right: #f2f2f2 0.2rem solid;
  padding-left: 2.5rem; /*marge à l'interieur des border-radius*/
  height: 45px;
  justify-content: center; /*centre le mot economique dans le border radius*/
  font-size: 1.1rem; /*epaisseur caractere*/
  font-weight: bold; /*graisse utilisée*/
  font-family: "Raleway", "Sans serif";
}
.eco {
  width: 9rem; /*longueur border-radius*/
  position: relative;
  left: -1rem;
}
.familial {
  width: 7.5rem;
  position: relative;
  left: -1rem;
}
.romantique {
  width: 8.8rem;
  position: relative;
  left: -1rem;
}
.animaux {
  width: 12rem;
  position: relative;
  left: -1rem;
}
.eco:hover,
.familial:hover,
.romantique:hover,
.animaux:hover {
  background-color: #deebff;
}

/*info*/

.info-clients {
  margin-top: 1.5rem; /*Margin avec search-filters*/
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
}
.fas.fa-info {
  color: #0065fc;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: #f2f2f2 0.3rem solid;
  border-top: #f2f2f2 0.3rem solid;
  border-left: #f2f2f2 0.3rem solid;
  height: 2rem;
  width: 2rem;
  min-height: 2rem; /*De min-height à min-width fait un cercle*/
  min-width: 2rem;
  border: solid 1px #d9d9d9; /*Contour du cercle*/
  border-radius: 100%; /*Pour faire le cercle*/
  margin: 0;
  height: 2rem;
}
.nombre {
  display: inline-flex;
  margin-left: 0.5%;
}

/*Deuxiéme section*/
/* Trois premiéres images horizontales*/

#containerhebergement {
  display: flex;
  justify-content: space-between; /*a enlever*/
}
#location {
  background-color: #f2f2f2; /* Arriére-plan gris*/
  border-bottom: 2px;
  border-radius: 16px;
  height: 670px;
}
.marseille-hosting {
  margin: 0;
  padding: 20px;
}
.row-location {
  display: flex;
  flex-direction: row; /*Defini automatiquement, se mettent a coté horizontalement*/
  margin: auto; /*verifier*/
  align-items: flex-start; /*positionne en haut du container*/
  justify-content: space-evenly; /*Espacement identique*/
}
.auberge-cannebiere,
.hotel-du-port,
.hotel-des-mouettes {
  width: 29%;
  margin: 20px 0px 20px 10px;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  padding: 1%;
}
.cannebiere-img,
.port-img,
.mouettes-img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  /*Dimension image, width et height, fonctionne que ds cet order-ci*/
  height: 100px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
}

.tarif1 {
  line-height: 0.01;
}
.fas.fas.fa-star {
  color: #0065fc;
}
.fas.fas.fa-star[data-active="false"] {
  color: #d7dbdf;
}

/*Toujours deuxiéme section: trois derniéres images horizontales*/

.row-location-bis {
  display: flex;
  flex-direction: row; /*Defini automatiquement, se mettent a coté horizontalement*/
  align-items: center;
  justify-content: space-evenly; /*Espacement identique*/
}
.hotel-de-la-mer,
.auberge-le-panier,
.hotel-chez-amina {
  width: 29%;
  margin: 20px 0px 20px 10px;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  padding: 1%;
}
.ancre {
  color: black;
  text-decoration: none;
}
.mer-img,
.panier-img,
.amina-img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  /*Dimension image, width et height, fonctionne que ds cet order-ci*/
  height: 100px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
}

.more {
  font-size: 1.2em;
  margin: auto;
  padding: 20px;
}

/*ASIDE*/

.populaire {
  display: flex;
  flex-direction: column;
  }

#cadre-grey {
  background-color: #f2f2f2; /* Arriére-plan gris*/
  border: 20px;
  border-bottom: 2px;
  border-radius: 16px;
  width: 33%;
  height: 670px;
}
.most-popular {
  
}
.fas.fa-chart-line {
  margin-left: 175%;
  margin-top: -15%;
  display: flex;
}
.hotel-soleil-matin,
.auberge-de-l-eau,
.hotel-bleu {
  width: 45%;
  margin: 20px 0px 20px 10px;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  padding: 1%;
  display: -webkit-inline-box;
  padding-right: 45%;
}
.soleil-img,
.eau-img,
.bleu-img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  height: 100px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
}
.mas {
 
}
.soleil-img {
  
}
.eau-img {
 
}
.bleu-img {
  
}
.tarif-hotel-soleil-matin {        /*les enlever tous*/
  margin-top: 1%;
}
.tarif-auberge-de-l-eau {
 
}
.tarif-hotel-bleu {
  
}
.price1,
.price2,
.price3 {
  
  line-height: 0.01;
}
.star1,
.star2,
.star3 {
  
}

/*Troisiéme et derniére section*/

.activites-marseille {
  margin-top: 1%;
}
.activites {
  display: inline-block;
  margin-top: 0%;
  }
.vieux-port-img {
  border-bottom: white solid 62px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres/
  object-fit: cover;  /*Façon dont l'image s'adapte à son conteneur*/
  height: 100%;
  width: 20%;
  object-fit: cover;
}
.title-port {
  position: absolute;
  top: 182.5%;
  left: 15.5%;
}
.fort-img {
  border-bottom: white solid 62px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres/
  object-fit: cover;                                   /*Façon dont l'image s'adapte à son conteneur*/
  height: 150px;
  object-fit: cover;
  max-width: 100%;
  width: 15%; /*largeur*/
  max-height: 100%;
  margin-left: 22%;
  margin-top: -35%;
  display: block;
}
.title-fort {
  position: absolute;
  top: 157%;
  left: 34%;
}
.iles-du-Frioul-img {
  border-bottom: white solid 62px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres/
  object-fit: cover;                                      /*Façon dont l'image s'adapte à son conteneur*/
  height: 8.5rem;
  object-fit: cover;
  max-width: 100%;
  width: 17.5%; /*largeur*/
  max-height: 100%;
  position: absolute;
  top: 167%;
  left: 33%;
}
.title-iles {
  position: absolute;
  top: 182%;
  left: 34%;
}
.calanques-img {
  border-bottom: white solid 62px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres/
    object-fit: cover;  /*Façon dont l'image s'adapte à son conteneur*/
  height: 48.7%;
  object-fit: cover;
  width: 15.5%;
  margin-left: 39%;
  position: absolute;
  top: 132.7%;
}
.title-calanques {
  position: absolute;
  top: 182%;
  left: 54.5%;
}
.notre-dame-img {
  border-bottom: white solid 62px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres/
    cursor: pointer;
    object-fit: cover;  /*Façon dont l'image s'adapte à son conteneur*/
  height: 11rem;
  object-fit: cover;
  max-width: 100%;
  width: 20%; /*largeur*/
  max-height: 100%;
  position: absolute;
  top: 133%;
  left: 71.4%;
}
.title-notre-dame {
  position: absolute;
  top: 153%;
  left: 72.5%;
}
.longchamp-img {
  border-bottom: white solid 62px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres/
    object-fit: cover;  /*Façon dont l'image s'adapte à son conteneur*/
  height: 10.5rem;
  object-fit: cover;
  max-width: 100%;
  width: 20%; /*largeur*/
  max-height: 100%;
  position: absolute;
  top: 163%;
  left: 71.4%;
}
.title-longchamp {
  position: absolute;
  top: 182%;
  left: 72.5%;
}

/*fOOTER*/

footer {
  flex-shrink: 0; /*capacité d'un élément flexible à se rétrécir si nécessaire*/
  width: 105%;
  background-color: #f2f2f2;
}
.contenu-footer {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  font-size: 18px;
  justify-content: space-between;
  line-height: 1;
}
.bloc-footer-site,
.bloc-footer-charte,
.bloc-footer-aide {
  margin-top: -2%;
}
.site,
.charte,
.contact {
  list-style-type: none;
}
.site {
  margin-left: -2.5rem;
}
.charte {
  position: relative;
  left: -18.2%;
}
.contact {
  position: relative;
  left: -24%;
}
.ancrebis {
  color: black;
  text-decoration: none;
  line-height: 1.9;
}
.ancrebis:hover {
  text-decoration: underline;
}
.bloc-footer-site {
  margin-left: 13.5%;
}
.bloc-footer-charte {
  margin-right: 35%;
}
.bloc-footer-aide {
  position: relative;
  right: 37.5rem;
}

/*MEDIA QUERIES*/

@media all and (max-width: 1024px) {
  .logoreservia {
    width: auto;
    margin-left: 2%;
  }

  nav {
    width: auto;
    text-align: left;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    padding-left: 4px;
  }
  nav a {
    font-size: 1.1em;
  }

  .searchfilters {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .row-location {
    flex-direction: column;
    height: auto;
  }
}

