/* Feuille de style pour le projet 2 reservia */

body {
  famille de polices: 'Raleway', sans-serif;
    marge: 0 ;
    box-sizing: border-box
  }

  /* HEADER */

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    

}
 
  a{
    color: #0065FC;
    text-decoration: none;
    
  }

  #black{
    color: black;
  }

  header nav{
    display: flex;
    align-items: center;
    
  }

  nav ul{
    align-items: center;
    align-items: flex-end;
    
    
  }
  


  
  
